@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .icon {
        @apply w-5 h-5;
    }
}
@layer utilities {
    .scrollber-hidden {
        ::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style:none;
        scrollbar-width:none;
    }
}